<h1>Planets II</h1>
<form action="/planets" method = "post">
    <input type ="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>
    <input type="text" name="name" placeholder="enter planet name" value="<%= @planet.name%>"></input>
    <input type="text" name="url" placeholder="paste planet image URL here" value="<%= @planet.url%>"> </input>
    <button> Create </button>
</form>


<%= @planets.each do |planet|%>
<p><a href="/planets/<%= planet.id %>"><%= planet.name %></a></p>
<img class="thumbnail-img" src="<%= planet.url%>"></img>
<%end%>



